@import '~bourbon/core/_bourbon';
@import '~bourbon-neat/app/assets/stylesheets/_neat';
@import './variables/_defaults';
@import './mixins/_grid';

@import'./components/nav';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    font-family: $default-font;
}

h1 {
    padding: 8px 0 12px 0;
}

h3 {
    padding: 5px 0 8px 0;
}

.flex-container {
    @include flexbox;
}