<div *ngIf="!franchise" class="loading-data">
  <div class="fb-skeleton">
    <span class="fb-skeleton_logo"></span>
    <div class="fb-skeleton_text">
      <span class="fb-skeleton_text-bar long"></span>
      <span class="fb-skeleton_text-bar long"></span>
      <span class="fb-skeleton_text-bar long"></span>
      <span class="fb-skeleton_text-bar short"></span>
    </div>
  </div>
</div>
<div *ngIf="franchise" class="franchise-details">
  <h1 class="fdTitle">{{franchise.name}}</h1>
  <hr/>
  <span class="fdLocation">{{franchise.address}}, {{franchise.city}}, {{franchise.stateId}}, {{franchise.zip}}</span>
  <div>
    <img class="pic_fdSponsor" src="https://www.findafranchise.com/_img/_franchise/{{franchise.franchiseId}}/{{franchise.franchiseImage.displayImage}}" />
  </div>
  <div class="fdBusinessDescription">Business Description
    <p>{{franchise.generalDescription}}
      <br/>
      Investment Required: {{franchise.totalInvestmentMin | currency}} - {{franchise.totalInvestmentMax | currency}}
      <br/>
      Contact info: {{franchise.localPhone}}
    </p>
  </div>
</div>