<div class="listing-container">
  <div class="search-results">
    <div 
      *ngFor="let franchise of franchises; let i = index; trackBy: trackById" 
      class="fd_listing">
      <a routerLink="/franchise-opportunities/{{franchise.shortName}}">
        <span class="fdTitle">{{franchise.name}}</span>
        <img class="pic_fdSponsor" src="https://www.findafranchise.com/_img/_franchise/{{franchise.franchiseId}}/{{franchise.franchiseImage.displayImage}}" />
        <p class="desc">
          <span>{{franchise.shortDescription}}</span>
        </p>
        <p class="capitol">
          <span class="capReq">Capitol Required</span>
          <span class="fdCapRequired">{{franchise.totalInvestmentMin}}</span>
        </p>
      </a>
      <button 
        id={{franchise.franchiseId}} 
        [ngClass]="(franchiseInCart(franchise)) ? 'addedToCart' : 'addToCart'"
        (click)="franchiseInCart(franchise) ? removeFromFranchiseCart(franchise) : addToFranchiseCart(franchise)">
        <span *ngIf="franchiseInCart(franchise); else notInCartTxt">
            <i class='fa fa-check'></i> Added to List
        </span>
        <ng-template #notInCartTxt>
          <span>Add to Request List</span>
        </ng-template>
      </button>
    </div>
  </div>
</div>